body{
    font-family: 'Source Sans Pro', sans-serif;
    /* background-image: url(company.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}

.content{
    background-image: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)) , url('../images/company.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.content::before{
    content: "";
    background-color: rgba(0,0,0,0.25);
}

.navbar .collapse .navbar-nav .nav-item .nav-link{
	font-size: 18px;
	color: white;
}

.fa-star{
	color: yellow;
}

.modal .modal-dialog .modal-body{
	background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f9b0f, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f9b0f, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}

.fa-facebook{
	color: blue;
}

.fa-google-plus{
	color: red;
}

.modal .modal-dialog .modal-content .modal-body .login-icon{
	font-size: 15px;
}

footer .fab:hover{
    font-size: 40px;
}

.navbar .collapse .navbar-nav .nav-item .nav-link:hover{
	font-size: 21px;
}

header .email:hover{
    font-size: 19px;
}




/*  Form Properties   */

* {box-sizing: border-box}
.signup{
    width: 60%;
    left: 50%;
    margin: 50px auto;
}


/* Full-width input fields */
input[type=text], input[type=password], input[type=email], input[type=date] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus,  input[type=email]:focus, input[type=date]:focus  {
    background-color: #fff;
    outline: none;
}

.email-user {
    font-size: 25px;
    padding-left: 5px;
}

hr {
    border: 1px solid #000000;
    margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}

button:hover {
    opacity:1.7;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
    float: left;
    width: 50%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* Clear floats */

.clearfix .signupbtn{
    margin-bottom: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}
