body{
	font-family: 'Source Sans Pro', sans-serif;
}

.navbar .collapse .navbar-nav .nav-item .nav-link{
	font-size: 18px;
	color: white;
}

#main-body{
    max-width: 1500px;
}

.container {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 1rem;
    background: white;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
    border-radius: 12px;
    overflow: hidden;
    transition: all .2s linear;
  }

  .card_body{
    padding: 8px;
  }

 
  @media screen and (min-width: 600px) {
    .card {
      flex: 1 1 calc(33% - 2rem);
    }
  }
  
  @media screen and (min-width: 900px) {
    .card {
      flex: 1 1 calc(25% - 2rem);
    }
  }

  #search{
    max-width: 1500px;
}

.hidden{
  display: none;
}



footer .fab:hover{
  font-size: 40px;
}
.navbar .collapse .navbar-nav .nav-item .nav-link:hover{
  font-size: 21px;
}
.fed-icon:hover{
  font-size: 18px;
}
header .email:hover{
  font-size: 19px;
}
