body{
	font-family: 'Source Sans Pro', sans-serif;
}
.navbar .collapse .navbar-nav .nav-item .nav-link{
	font-size: 18px;
	color: white;
}

.fa-star{
	color: yellow;
}

.modal .modal-dialog .modal-body{
	background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0f9b0f, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0f9b0f, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-size: 20px;
font-family: 'Source Sans Pro', sans-serif;
}
.fa-facebook{
	color: blue;
}
.fa-google-plus{
	color: red;
}
.modal .modal-dialog .modal-content .modal-body .login-icon{
	font-size: 15px;
}
footer .fab:hover{
      font-size: 40px;
}
.navbar .collapse .navbar-nav .nav-item .nav-link:hover{
	font-size: 21px;
}

header .email:hover{
  font-size: 19px;
}