body{
	font-family: 'Source Sans Pro', sans-serif;
	color: #e0e0e0;
}
.email_link{
	color:#ffffff;
	font-weight: 800;
}
.logo{
	display: inline-block!important;
}
.logo2{
	display: inline-block!important;
}
.a_hover:hover{
	background-color:#6b9db3!important;
	color:#ffffff!important;
}
#navtop {
    background-color: #000309!important;
}

.navbarhome .display_cards {
    background-color: blue!important;
}

/* .display_cards:hover{
	background-color: #ffffff;
} */
.buttons{
	background-color: #1b1e22!important;
	border-color: #26394c!important;
}
.logo_weight{
	font-weight: 1000;
}

.chatbot_button{
	background-color:#133253!important;
}
.black_text
{
	color: #000000!important;
}
.white_text
{
	color: #ffffff!important;
}


.page_body{
background-color: #000c19!important;
}
.jumbotron{
	background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)) , url('../images/4.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

}
.navbar .collapse .navbar-nav .nav-item .nav-link{
	font-size: 18px;
	color: white;
}
.jumbotron .carousel .carousel-inner .carousel-item .main{
	animation: colorchangeonlinecourse 1s infinite;
}
@keyframes  colorchangeonlinecourse {
	0%{color: red;}
	25%{color: #bf1160;}
	50%{color: white;}
	100%{color: #bf1160;}
}
.fa-star{
	color: yellow;
}
.card-deck{
	box-shadow: 5px 10px white;
}
/* .card:hover{
	box-shadow: 5px 10px white;
} */
.modal .modal-dialog .modal-body{
	background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0f9b0f, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0f9b0f, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-size: 20px;
font-family: 'Source Sans Pro', sans-serif;
}
.fa-facebook{
	color: blue;
}
.fa-google-plus{
	color: red;
}
.modal .modal-dialog .modal-content .modal-body .login-icon{
	font-size: 15px;
}
footer .fab:hover{
      font-size: 40px;
}
.navbar .collapse .navbar-nav .nav-item .nav-link:hover{
	font-size: 21px;
}
.fed-icon:hover{
	font-size: 18px;
}
/* header .email:hover{
	font-size: 19px;
} */
/*===================
     chat box
=====================*/
.open-btn{
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	opacity: 0.8;
	position: fixed;
	bottom: 23px;
	right: 28px;
}
.chat-popup{
	display: none;
	position: fixed;
	bottom: 0;
	right: 15px;
	border: 3px solid #f1f1f1;
	z-index: 9;

}
.form-container{
	max-width: 300px;
	padding: 10px;
	background-color: white;

}
.form-container textarea{
	width: 100%;
	padding: 10px;
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
	min-height: 10px;
}
.form-container .c-btn{
	background-color:#1E90FF;
	color: rgba(0,0,0,0.8);
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-bottom: 10px;
	opacity: 0.8;
}
#myform .cancel{
	background-color: rgba(255,0,0,0.7);
	color: rgba(255,255,255,0.8);
	cursor: pointer;
	opacity: 0.8;
	border: none;

}
.form-container .open-btn:hover , .c-btn:hover{
	opacity: 1;
}
.botText {
    background:#1E90FF	;
    font-size: 16px;
    color: white;
    max-width: 60%;
    margin: 5px;
    border-radius: 10px;
    padding: 6px;


}
.login_body
{
	  background: linear-gradient(to right, #477b7d, #000000) !important;
}

.login_submit
{
	background-color: #00142a;
  border-color: #000000;
}

.botText span {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 10px;

}
#chatbox{
	max-height: 400px;
	border: 2px solid #1E90FF;
	border-radius: 10px;
	overflow: auto;
}
.link_buttons
{
	color:#000000;
	font-weight: 700;
}
.login_text
{
	color:#000000;
	font-weight: 1000;
}
.userText span {
    padding: 3px;
    color: white;
}
.userText{
     max-width: 60%;
     border-radius: 10px;
	 margin:5px;
	 word-wrap: break-word;
	 background:#95c8d8	;
	 opacity: 0.8;
	 margin-left: auto;
	padding: 6px;
   }
